* {
  box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:gray;
  color: black;
  line-height: 1.6;
  padding: 20px;
}

main {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  text-align: center;
}

header img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #2563eb;
}

.header-text h1 {
    color: chocolate;
  font-size: 26px;
}

.header-text address {
  font-style: normal;
  font-size: 14px;
  color: #374151;
}

section {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e7eb;
}

h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: darkcyan;
}

p {
  font-size: 17px;
}

ul {
  padding-left: 20px;
}

li {
  font-size: 15px;
  margin-bottom: 6px;
}

@media (min-width: 768px) {
  body {
    padding: 40px;
  }

  main {
    max-width: 900px;
    margin: auto;
    padding: 40px;
  }

  header {
    flex-direction: row;
    text-align: left;
    gap: 50px;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1100px;
  }
}