* 
nav {
  padding: 70px;
 background: blue; 
}
.links a {
  margin-left: 241px;
  color:whitesmoke;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 36px;
}

.role {
  color: #2563eb;
  font-size: 18px;
  margin: 10px 0;
}

.intro {
  max-width: 500px;
  margin: 0 auto 25px;
}

.btn {
  padding: 12px 25px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.skills-preview {
  text-align: center;
  padding: 20px 20px;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.skills span {
  background: wheat;
  padding: 10px 20px;
  border-radius: 20px;
}

main {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
}
.resume-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-bottom: 30px;
}
#img{
  width: 50px;
}
.resume-header img {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #2563eb;
}

.contact {
  max-width: 800px;
  margin: 100px auto;
  background: rgb(255, 255, 255);
  padding: 80px;
  border-radius: 30px;
  text-align: center;
  color: rgb(248, 143, 6);
}

@media (min-width: 768px) {
  .resume-header {
    flex-direction: row;
    text-align: left;
  }
}